<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".the" %>
  <%= link_to t("tutorial_link"), "https://www.railstutorial.org/" %> is a
  <%= link_to t(".book"), "https://www.railstutorial.org/book" %>
  <%= t ".and" %>
  <%= link_to t(".screencast_series"),"http://screencasts.railstutorial.org/" %>
  <%= t ".to_teach" %>
  <%= link_to t(".rails"),"http://rubyonrails.org/" %>
  <%= t ".this_is_sample" %>
</p>
