<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".get_help_on_the" %><%= t("tutorial_link") %> <%= t ".at_the" %>
  <%= link_to t(".help_section"), "https://www.railstutorial.org/help" %>
  <%= t ".get_help_sample_app" %>
  <%= link_to t("tutorial_link"), "https://www.railstutorial.org/" %>
  <%= t ".book" %></a>.
</p>
